# Default ignored files
/../../../../../../SRGIOM~1/AppData/Local/Temp/index.html15402425506281426208/.idea/shelf/
/../../../../../../SRGIOM~1/AppData/Local/Temp/index.html15402425506281426208/.idea/workspace.xml
# Ignored default folder with query files
/../../../../../../SRGIOM~1/AppData/Local/Temp/index.html15402425506281426208/.idea/queries/
# Datasource local storage ignored files
/../../../../../../SRGIOM~1/AppData/Local/Temp/index.html15402425506281426208/.idea/dataSources/
/../../../../../../SRGIOM~1/AppData/Local/Temp/index.html15402425506281426208/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../../../SRGIOM~1/AppData/Local/Temp/index.html15402425506281426208/.idea/httpRequests/
